@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";

/*  Define your custom theme variables */
@theme {
  /* Typography */
  --font-sans: "InterVariable", sans-serif;
  --font-display: "Hedvig Letters Serif", serif;
  --color-white: oklch(0.986 0.002 67.8);

  /* Accent palette */
  --color-accent-50: oklch(96.37% 0.014 34.3);
  --color-accent-100: oklch(92.11% 0.031 32.56);
  --color-accent-200: oklch(85.18% 0.06 35);
  --color-accent-300: oklch(77.67% 0.096 34.47);
  --color-accent-400: oklch(70.47% 0.133 35.14);
  --color-accent-500: oklch(64.47% 0.167 35.21);
  --color-accent-600: oklch(55.96% 0.174 34.81);
  --color-accent-700: oklch(45.78% 0.139 34.91);
  --color-accent-800: oklch(35.02% 0.102 35.05);
  --color-accent-900: oklch(22.26% 0.055 35.39);
  --color-accent-950: oklch(16.51% 0.033 41.46);

  /* Base palette */
  --color-base-50: oklch(0.964 0.003 84.4);
  --color-base-100: oklch(0.922 0.007 88.56);
  --color-base-200: oklch(0.836 0.012 89.69);
  --color-base-300: oklch(0.751 0.01 87.44);
  --color-base-400: oklch(0.664 0.009 84.55);
  --color-base-500: oklch(0.569 0.008 88.63);
  --color-base-600: oklch(0.482 0.007 84.55);
  --color-base-700: oklch(0.398 0.005 91.46);
  --color-base-800: oklch(0.309 0.004 84.54);
  --color-base-900: oklch(0.223 0.002 67.71);
  --color-base-950: oklch(0.177 0.002 106.5);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

:root {
  /* Typography */
  font-feature-settings: "tnum" 1; /* Open 4 */
}
